Hello,<br/><br/>
<p>Subscriber <b><%= subscriber.name.full %></b> (ID: <b><%= String(subscriber._id) %></b>; Email: <b><%= subscriber.email %></b>) has forgotten his/her password.</p>
<p>Please send him/her the same</p>

